<!-- filename = 'train_ver2.csv'

chunksize = 10 ** 3

for chunk in pd.read_csv(filename, chunksize=chunksize):
    print(chunk) -->

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pyarrow import csv

In [11]:
train = csv.read_csv('train_ver2.csv').to_pandas()
test = csv.read_csv('test_ver2.csv').to_pandas()

In [12]:
train_and_test = [train, test]

In [13]:
train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             object
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                object
 21  ind_actividad_cliente  float64
 22  renta                  float64
 23  segmento               object
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        float64
 46  ind_nom_pens_ult1      float64
 47  ind_recibo_ult1        int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             929615 non-null  object
 1   ncodpers               929615 non-null  int64
 2   ind_empleado           929615 non-null  object
 3   pais_residencia        929615 non-null  object
 4   sexo                   929615 non-null  object
 5   age                    929615 non-null  int64
 6   fecha_alta             929615 non-null  object
 7   ind_nuevo              929615 non-null  int64
 8   antiguedad             929615 non-null  int64
 9   indrel                 929615 non-null  int64
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929592 non-null  float64
 12  tiprel_1mes            929615 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               929615 non-null  object
 16  canal_entrada          929615 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int64
 19  cod_prov               925619 non-null  float64
 20  nomprov                929615 non-null  object
 21  ind_actividad_cliente  929615 non-null  int64
 22  renta                  929615 non-null  object
 23  segmento               929615 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 170.2+ MB

In [14]:
print(train.shape, test.shape)

(13647309, 48) (929615, 24)

In [19]:
for dataset in train_and_test:
    only_int64 = dataset.select_dtypes(include= 'int64')
    print(only_int64.max())

ncodpers             1553689
ind_ahor_fin_ult1          1
ind_aval_fin_ult1          1
ind_cco_fin_ult1           1
ind_cder_fin_ult1          1
ind_cno_fin_ult1           1
ind_ctju_fin_ult1          1
ind_ctma_fin_ult1          1
ind_ctop_fin_ult1          1
ind_ctpp_fin_ult1          1
ind_deco_fin_ult1          1
ind_deme_fin_ult1          1
ind_dela_fin_ult1          1
ind_ecue_fin_ult1          1
ind_fond_fin_ult1          1
ind_hip_fin_ult1           1
ind_plan_fin_ult1          1
ind_pres_fin_ult1          1
ind_reca_fin_ult1          1
ind_tjcr_fin_ult1          1
ind_valo_fin_ult1          1
ind_viv_fin_ult1           1
ind_recibo_ult1            1
dtype: int64
ncodpers                 1553689
age                          164
ind_nuevo                      1
antiguedad                   257
indrel                        99
tipodom                        1
ind_actividad_cliente          1
dtype: int64

In [20]:
train_only_int64 = train.select_dtypes(include= 'int64')
test_only_int64 = test.select_dtypes(include = 'int64')

train_only_int64 = train_only_int64.drop('ncodpers', axis = 1)
test_only_int64 = test_only_int64.drop('antiguedad', axis = 1)

for i in train_only_int64.columns:
    train[i] = train[i].astype(np.int8)

for i in test_only_int64.columns:
    test[i] = test[i].astype(np.int8)

In [23]:
train_only_float64 = train.select_dtypes(include= 'float64')
test_only_float64 = test.select_dtypes(include = 'float64')

print(train_only_float64.max())
print(test_only_float64.max())

ind_nuevo                       1.00
indrel                         99.00
tipodom                         1.00
cod_prov                       52.00
ind_actividad_cliente           1.00
renta                    28894395.51
ind_nomina_ult1                 1.00
ind_nom_pens_ult1               1.00
dtype: float64
indrel_1mes     3.0
cod_prov       52.0
dtype: float64

In [24]:
train_only_float64 = train_only_float64.drop('renta', axis = 1)

for i in train_only_float64.columns:
    train[i] = train[i].astype(np.float16)

for i in test_only_float64.columns:
    test[i] = test[i].astype(np.float16)

In [76]:
for i in only_float64:
    print(only_float64[i].value_counts())

0.0    12808368
1.0      811207
Name: ind_nuevo, dtype: int64
1.0     13594782
99.0       24793
Name: indrel, dtype: int64
1.0    13619574
Name: tipodom, dtype: int64
28.0    4409600
8.0     1275219
46.0     682304
41.0     605164
15.0     429322
30.0     396759
29.0     367023
50.0     342543
3.0      313397
11.0     294684
36.0     280026
33.0     265749
47.0     238259
35.0     235700
6.0      192996
48.0     185888
45.0     183067
18.0     178562
37.0     164238
39.0     155706
14.0     144679
10.0     129912
7.0      124933
21.0     122283
13.0     119390
2.0      114128
12.0     104295
43.0     100115
9.0       97188
17.0      90538
31.0      88618
26.0      85202
27.0      84962
32.0      84009
24.0      83003
25.0      79059
20.0      71567
38.0      70968
19.0      64618
23.0      64363
4.0       60291
16.0      57310
49.0      50927
34.0      49282
40.0      42341
22.0      40181
5.0       38783
1.0       37704
44.0      22525
42.0      17660
52.0       9460
51.0       7218
Name: cod_prov, dtype: int64
0.0    7384390
1.0    6235185
Name: ind_actividad_cliente, dtype: int64
0.0    12885285
1.0      745961
Name: ind_nomina_ult1, dtype: int64
0.0    12821161
1.0      810085
Name: ind_nom_pens_ult1, dtype: int64

In [25]:
train.info() # 메모리 대략 2.5 G 감소

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float16
 8   antiguedad             object
 9   indrel                 float16
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float16
 19  cod_prov               float16
 20  nomprov                object
 21  ind_actividad_cliente  float16
 22  renta                  float64
 23  segmento               object
 24  ind_ahor_fin_ult1      int8
 25  ind_aval_fin_ult1      int8
 26  ind_cco_fin_ult1       int8
 27  ind_cder_fin_ult1      int8
 28  ind_cno_fin_ult1       int8
 29  ind_ctju_fin_ult1      int8
 30  ind_ctma_fin_ult1      int8
 31  ind_ctop_fin_ult1      int8
 32  ind_ctpp_fin_ult1      int8
 33  ind_deco_fin_ult1      int8
 34  ind_deme_fin_ult1      int8
 35  ind_dela_fin_ult1      int8
 36  ind_ecue_fin_ult1      int8
 37  ind_fond_fin_ult1      int8
 38  ind_hip_fin_ult1       int8
 39  ind_plan_fin_ult1      int8
 40  ind_pres_fin_ult1      int8
 41  ind_reca_fin_ult1      int8
 42  ind_tjcr_fin_ult1      int8
 43  ind_valo_fin_ult1      int8
 44  ind_viv_fin_ult1       int8
 45  ind_nomina_ult1        float16
 46  ind_nom_pens_ult1      float16
 47  ind_recibo_ult1        int8
dtypes: float16(7), float64(1), int64(1), int8(22), object(17)
memory usage: 2.4+ GB

In [26]:
test.info() # 메모리 50메가 감소

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             929615 non-null  object
 1   ncodpers               929615 non-null  int8
 2   ind_empleado           929615 non-null  object
 3   pais_residencia        929615 non-null  object
 4   sexo                   929615 non-null  object
 5   age                    929615 non-null  int8
 6   fecha_alta             929615 non-null  object
 7   ind_nuevo              929615 non-null  int8
 8   antiguedad             929615 non-null  int64
 9   indrel                 929615 non-null  int8
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929592 non-null  float16
 12  tiprel_1mes            929615 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               929615 non-null  object
 16  canal_entrada          929615 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int8
 19  cod_prov               925619 non-null  float16
 20  nomprov                929615 non-null  object
 21  ind_actividad_cliente  929615 non-null  int8
 22  renta                  929615 non-null  object
 23  segmento               929615 non-null  object
dtypes: float16(2), int64(1), int8(6), object(15)
memory usage: 122.3+ MB

In [27]:
train.to_csv('../Data/ppc_train_ver2.csv', index=False)
test.to_csv('../Data/ppc_test_ver2.csv', index=False)